[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=CPUCompare
Comment=Make comparisons between CPU models
Comment[it]=Effettua confronti tra modelli di CPU
Terminal=false
Categories=Utilities;GTK;
Icon=cpucompare
TryExec=cpucompare
Exec=cpucompare
